<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="teamspace_PublicPackages" value="https://domoreexp.pkgs.visualstudio.com/Teamspace/_packaging/teams-devapp/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
